[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial-asyncio = "*"

[dev-packages]
pytest = "*"
mock = "*"
pytest-mock = "*"
urwid = "*"
attrs = '*'
"elkm1" = {editable = true, path = "."}
