[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial-asyncio = "*"
pytz = "*"

[dev-packages]
pytest = "*"
mock = "*"
pytest-mock = "*"
urwid = "*"
attrs = '*'
colorlog = '*'
v = {version = "*", editable = true}
