[tool.poetry]
name = "elkm1-lib"
version = "1.2.1"
description = "Library for interacting with ElkM1 alarm/automation panel."
homepage = "https://github.com/gwww/elkm1"
authors = ["Glenn Waters <gwwaters+elkm1@gmail.com>"]
readme = "README.md"
license = "MIT"
classifiers = [
  'Development Status :: 4 - Beta',
  'Intended Audience :: Developers',
]
include = ["CHANGELOG.md", "bin/**/*"]
exclude = ["test"]

[tool.poetry.dependencies]
python = ">= 3.6"
pyserial-asyncio = ">= 0.5"

[tool.poetry.dev-dependencies]
pytest = ">= 6"
urwid = ">= 2.0"
attrs = ">= 19"
colorlog = ">= 4.0"
black = ">= 20.8b1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
